{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<section id="menu-toggle">
  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
</section>

{{ page.search }}

<aside role="menu" id="sidebar">

  {{ page.sidebar }}

</aside>

<header id="site-nav" class="header-active">

  <div class="container">

    {{ page.header }}
    <div id="search-button"></div>

  </div>

</header>

<main role="main">

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  {{ page.content }}

</main>

<footer role="contentinfo">

  <div id="footer-menus">
    <div class="container">
      {{ page.footer }}
    </div>
  </div>

  <div id="footer-copyright">
    <div class="container">
      <p> {{ 'Copyright'|t }} &copy; {{ "now"|date("Y") }} {{ 'Generic Website'|t }} </p>
    </div>
  </div>

</footer>
